<% layout('layout/template.ejs') %>
<div class="row align-items-center mb-3">
    <div class="col-sm-6 order-1 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="https://image.freepik.com/free-vector/students-wearing-different-face-masks_23-2148603165.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-sm-6 order-2">
        <p class="pt-3 ps-3 pe-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus cumque dolore quas ullam consectetur consequuntur dolores ducimus, ad perferendis dicta provident qui minus sequi eius commodi iusto quia esse veniam?</p>
    </div>
</div>
<div class="row align-items-center mb-3">
    <div class="col-sm-6  order-2 order-sm-1">
        <p class="pt-3 ps-3 pe-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus cumque dolore quas ullam consectetur consequuntur dolores ducimus, ad perferendis dicta provident qui minus sequi eius commodi iusto quia esse veniam?</p>
    </div>
    <div class="col-sm-6 order-1 order-sm-2 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="https://image.freepik.com/free-vector/students-wearing-mask_23-2148581674.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
<div class="row align-items-center mb-3">
    <div class="col-sm-6 order-1 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="https://image.freepik.com/free-vector/students-wearing-face-masks_23-2148575487.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-sm-6 order-2">
        <p class="pt-3 ps-3 pe-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus cumque dolore quas ullam consectetur consequuntur dolores ducimus, ad perferendis dicta provident qui minus sequi eius commodi iusto quia esse veniam?</p>
    </div>
</div>

<!-- https://www.freepik.com/free-vector/students-wearing-different-face-masks_9182263.htm#query=student&position=5&from_view=search -->