<% layout('layout/template.ejs') %>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center">
      <img src="https://image.freepik.com/free-vector/students-wearing-different-face-masks_23-2148603165.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Free Tier Tryout</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="/tryout/61f9141f85042f67688b610e" class="btn btn-primary">Coba Gratis</a>
      </div>
    </div>
  </div>
</div>

<div>
  <a href="/tryout" class="btn btn-success">Lihat Semua Tryout</a>
</div>
<!-- https://www.freepik.com/free-vector/students-wearing-different-face-masks_9182263.htm#query=student&position=5&from_view=search -->