<% layout('layout/template.ejs') %>
<% layout('layout/template.ejs') %>
    <div class="container-fluid d-flex justify-content-center">
        <div class="mb-3">
            <div class="card shadow" style="width: 25rem;">
                <img src="https://image.freepik.com/free-vector/students-wearing-different-face-masks_23-2148603165.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Register</h3>
                    <form  action="/user" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3" >
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="insert username" required autofocus> 
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3" >
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="insert email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3" >
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="insert password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-success">Registrasi</button>
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </div>