<% layout('layout/template.ejs') %>
<div  class="container-fluid d-flex justify-content-center" >
    <div class="alert alert-warning mb-3" role="alert">
        Instruksi:
        <p class="mb-0">1. Masukan alamat email anda, lalu klik "Send token"</p>
        <p class="mb-0">2. Masukan token yang sudah dikirim ke email anda <b style="color:#dc3545">(cek pada juga SPAM)</b>, lalu klik "Submit"</p>
        <p class="mb-0">3. Jika email sudah terekam, dan anda butuh menggantinya, klik "change email"</p>
        <p class="mb-0">4. Klik "send token again" untuk mengirim ulang token</p>
    </div>
</div>
    <div class="container-fluid d-flex justify-content-center">
        <div class="mb-3">
            <div class="card shadow" style="width: 25rem;">
                <img src="https://image.freepik.com/free-vector/students-wearing-different-face-masks_23-2148603165.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Forgot Password</h3>
                    <form  action="/user/forgot/t" method="POST" class="needs-validation" novalidate>
                        <div class="collapse <% if(!hideEmailInForgotPage) { %>show<% } %>  " id="collapseForm">
                        <div class="mb-3" >
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email" value="<%=hideEmailInForgotPage%>" placeholder="insert email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-success">Send token<% if(hideEmailInForgotPage) { console.log(hideEmailInForgotPage)%> again<% } %></button>
                        </div>
                        <% if(hideEmailInForgotPage) { %>
                        <div class="d-grid gap-2 mb-3">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">
                                Change email
                            </a>
                        </div>
                        <% } %> 
                    </form>
                    <form  action="/user/forgot" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3" >
                            <label class="form-label" for="token">Token</label>
                            <input class="form-control" type="token" name="token" id="token" placeholder="insert token" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-success">Sumbit</button>
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </div>