<% layout('layout/template.ejs') %>
    <div class="container-fluid d-flex justify-content-center">
        <div class="mb-3">
            <div class="card shadow" style="width: 25rem;">
                <img src="https://image.freepik.com/free-vector/students-wearing-different-face-masks_23-2148603165.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <form  action="/login" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3" >
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="insert username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3" >
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="insert password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-success">login</button>
                        </div>
                    </form>
                    <div class="d-grid gap-2 mb-3">
                        <a href="/user/forgot" class="btn btn-danger">Forgot password</a>
                    </div>
                </div>
              </div>
        </div>
    </div>
