<% layout('layout/template.ejs') %>
<div  class="container-fluid d-flex justify-content-center" >
    <div class="alert alert-warning mb-3" role="alert">
        Instruksi:
        <p class="mb-0">1. Masukan token yang telah dikirimkan ke email anda <b style="color:#dc3545">(cek pada juga SPAM)</b>, lalu klik "submit"</p>
        <p class="mb-0">2. Jika tidak terkirim atau token expire, maka klik "kirim ulang token" dan token akan terkirim ke email anda</p>
    </div>
</div>
    <div class="container-fluid d-flex justify-content-center">
        <div class="mb-3">
            <div class="card shadow" style="width: 25rem;">
                <img src="https://image.freepik.com/free-vector/students-wearing-different-face-masks_23-2148603165.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Verification</h3>
                    <form  action="/user/verification" method="POST" class="needs-validation" novalidate>
                        <!-- <div class="mb-3" >
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="insert username" required autofocus> 
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div> -->
                        <div class="mb-3" >
                            <label class="form-label" for="token">Token</label>
                            <input class="form-control" type="token" name="token" id="token" placeholder="insert token" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </form>
                    <form action="/user/token" method="POST">
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-warning">Kirim ulang token</button>
                        </div>
                    </form>
                </div>
              </div>
        </div>
    </div>