#body {
    background-color: #F9DFDC;
}

/* nav.bg-dark {
    background-color: rgba(0, 0, 255, 0)!important;
}

nav#navbar .bc {
    color: #000000;
}

.navbar.scrolled {
    background: #0A81AB);
    transition: background 500ms;
} */

.navbar.fixed-top.scrolled {
    background-color: #0A81AB;
    transition: background-color 100ms linear;
}

.navbar.fixed-top {
    transition: background-color 100ms linear;
}