<% layout('layout/template.ejs') %>

    <% for( tryout of tryouts) {%> 
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex align-items-center">
                <img src="<%= tryout.image %>" class="img-fluid rounded-start" alt="image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= tryout.title %></h5>
                  <p class="card-text"><%= tryout.description %></p>
                  <a href="/tryout/<%= tryout._id %>" class="btn btn-primary">Lihat</a>
                </div>
              </div>
            </div>
          </div>
    <% }%>