<% layout('layout/template.ejs') %>
<script type="text/javascript">
    function disableButton(btn) {
        document.getElementById(btn.id).href = "#";
    }
</script>

<h1><%= tryouts.title %> Tryout</h1>
<p><%= tryouts.description %> </p>

<a href="/tryout/<%= tryouts._id %>/update" class="d-inline btn btn-success">Edit</a>

<form action="/tryout/<%= tryouts._id %>?_method=DELETE" method="POST" class="d-inline mb-3">
    <button class="btn btn-danger" >Delete</button>
</form>

<% if(!user.admin) { %> 
<p class="d-inline mb-3">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#Soal" role="button" id="start" aria-expanded="false" aria-controls="collapseExample" onclick="disableButton(this)" >
      Mulai
    </a>
</p>
<% } %>
<p class="d-inline mb-3">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#Soal" role="button" id="start" aria-expanded="false" aria-controls="collapseExample">
      Problem Set
    </a>
</p> 

<div class="collapse mt-3" id="Soal">
    <div class="card card-body">
        <p>Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer1" value="option1">
            <label class="form-check-label" for="answer1">
              Jawab 1
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer2" value="option2">
            <label class="form-check-label" for="answer2">
                Jawab 2
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer3" value="option3">
            <label class="form-check-label" for="answer3">
                Jawab 3
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer4" value="option4">
            <label class="form-check-label" for="answer4">
                Jawab 4
            </label>
        </div>
    </div>
</div>

